.container {
  width: 800px;
  /* height: 450px; */
  background-color: #ddd;
  margin: 40px auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.item {
  padding: 30px;
  font-size: 30px;
  color: #fff;
}

.item-1 {
  background-color: orangered;
  grid-column-start: 3;
  grid-column-end: 4;
}
.item-2 {
  background-color: olivedrab;
}
.item-3 {
  background-color: royalblue;
}
.item-4 {
  background-color: palevioletred;
}
.item-5 {
  background-color: goldenrod;
}
.item-6 {
  background-color: blueviolet;
}